/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}


ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	height: 100%;
	line-height: 1;
	background-color: #16141c;
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	font-family: Signika Negative;
	letter-spacing: 0.3px;
}


.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;

}
._container {
	padding: 0 20px;
	margin: 0px auto;
	box-sizing: content-box;
}

/*-----------------------------header---------------------------------*/


.header {

}
.header__container {
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 10px;
}

.header__logo {
	min-width: 130px;
	margin: 10px 0px;
	font-size: 28px;
	font-weight: 700;
	color: rgb(122, 91, 247);
}
.header__search {
	width: 100%;
	max-width: 350px;
	margin: 0px 0px 10px;
	background-color: rgb(91 87 107 / 20%); 
	display: flex;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
}

@media (min-width: 410px) {
	.header__container {
		flex-direction: row;
		justify-content: space-between;
	}
	.header__search {
		max-width: 300px;
		margin: 0px 0px 0px 30px;
	}

}
.focused {
	background-color: rgb(122, 91, 247);
}

.search-header {
}
.search-header__icon {
	padding: 5px;
}
.search-header__input {
	width: 100%;
	padding: 5px;
	background: transparent;
	font-weight: 300;
	font-family: Signika Negative;
	color: #d9d5e4;
	border: none;
	outline: none;
	font-size: 16px;
}
.search-header__input::placeholder {
	color: #a7a4b5;
}

.search-header__filter {
	padding: 5px;
}

.filter-search {
}
.filter-search__button {
}


/*-------------------------filter-----------------------------*/

.filter__container {
}
.filter__show {
	
}
.show__items {
}
.show__title {
	color: #a7a4b5;
	font-size: 12px;
	padding: 5px;
}

.show__item {
	background-color: rgb(91 87 107 / 20%); 
	border-radius: 5px;
	padding: 15px;
	margin: 0 0 20px;
}

.item-show:nth-child(2) {
	padding: 0px
}

.item-show__type {
	display: flex;
	
}
.type-show {
}
.type-show__label {
	display: block;
	align-items: center;
	text-align: center;
	padding: 10px;
	width: 100%;
}
.type-show__input {
	display: none;
	align-items: center;
	text-align: center;
}

.type-show__input:checked  + .type-show__label {
	background: rgb(122, 91, 247);
	border-radius: 5px;
}

.item-show__main {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}
.main-show {
}
.main-show__button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-show__button:not(:last-child) {
	margin: 0 0 10px 0;
}

.item-show__ratings {
}
.ratings-show {
}
.ratings-show__interval {
	display: flex;
	flex-direction: column;

}
.ratings-show__interval:not(:last-child) {
	margin: 0 0 10px 0;
}
.item-show__title {
	margin: 0 0 5px 0;
}

.ratings-show__input {
	accent-color: rgb(122, 91, 247);
}

