/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}


ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	height: 100%;
	line-height: 1;
	background-color: #16141c;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	font-family: Signika Negative;
	letter-spacing: 0.3px;
}


.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
._container {
	padding: 0 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
.search {
	background-color: rgb(91 87 107 / 20%); 
	display: flex;
	width: 100%;
	border-radius: 12px;
	justify-content: center;
	align-items: center;
}
.mini-title {
	color: #a7a4b5;
	font-size: 14px;
	padding: 8px 0px;
}
.switch {
	display: flex;
}
.switch__label {
	display: block;
	align-items: center;
	text-align: center;
	padding: 12px;
	width: 100%;
	border-radius: 12px;
}
.switch__input {
	display: none;
}
.switch__input:checked  + .switch__label {
	background: rgb(122, 91, 247);
}

.item {
	background-color: rgb(91 87 107 / 20%); 
	border-radius: 10px;
	margin: 0 0 15px;
}
.btn {
	display: block;
	padding: 12px;
	align-items: center;
	text-align: center;
	background-color: rgb(91 87 107 / 20%);
	transition: background-color 0.2s ease;
	border-radius: 10px;
}
.btn:active {
	background-color: rgb(122, 91, 247);
}

.footer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.btn-show {
	width: 230px;
	margin: 15px;
	background-color: rgb(122, 91, 247);
	border-radius: 18px;
}

/*-------------------------sidebar-----------------------------*/

.sidebar {
	display: none;
}
.open {
	display: block;
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: #16141c;
}
.sidebar__container {
}
.sidebar__search {
	margin: 15px 0px;
}
.sidebar__switches {
	margin: 0px 0px 15px 0px;
}
.list__items {
}
.list__title {
}
.list__item {
	display: flex;
	flex-direction: column;
	padding: 15px;
}
.list__item:last-child {
	margin-bottom: 0px;
}
.list__label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list__label:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.list__span {
	padding: 9px;
}
.list__input {
	display: none;
}
.list__img {
	display: none;
	width: 34px;
	height: 34px;
}
.list__input:checked + .list__img {
	display: block;
}
.sidebar__footer {
	position: sticky;
	left: 0;
	bottom: 0;
	z-index: 10;
	width: 100%;
	background-color: #16141c29;
	backdrop-filter: blur(10px);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.sidebar__footer {
	background-color: rgba(43, 42, 48, 0);
	-webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
	}
}
.sidebar__button {
}

/*-----------------------------header---------------------------------*/

.header {
}
.header__container {
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 10px;
}
.header__logo {
	min-width: 130px;
	margin: 10px 0px;
	font-size: 30px;
	font-weight: 700;
	color: rgb(122, 91, 247);
}
.header__search {
	margin: 0px 0px 10px;
}
@media (min-width: 502px) {
	.header__container {
		flex-direction: row;
		justify-content: space-between;
	}
	.header__search {
		max-width: 370px;
		margin: 0px 0px 0px 30px;
	}

}
.focused {
	background-color: rgb(122, 91, 247);
}
.search__icon {
	padding: 8px;
}
.search__input {
	width: 100%;
	padding: 8px;
	background: transparent;
	font-weight: 300;
	font-family: Signika Negative;
	color: #d9d5e4;
	border: none;
	outline: none;
	font-size: 16px;
}
.search__input::placeholder {
	color: #a7a4b5;
}
.search__filter {
	padding: 8px;
}
.search__filter:active {
	background-color: rgb(122, 91, 247);
	border-radius: 12px;
}
.filter-search {
}
.filter-search__button {
}


/*-------------------------filter-----------------------------*/
.filter {
	display: none;
}
.active {
	display: block;
}
.filter__container {
}
.filter__show {
}
.show__items {
}
.show__title {
}
.show__item {
}
.item-show {
}
.item-show__type {
}
.item-show__main {
}
.main-show {
}
.main-show__button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	padding: 12px 15px;
}
.item-show__ratings {
	padding: 15px;
}
.ratings-show {
}
.ratings-show__interval {
	display: flex;
	flex-direction: column;
}
.ratings-show__interval:not(:last-child) {
	margin: 0 0 10px 0;
}
.item-show__title {
	margin: 0 0 5px 0;
}
.ratings-show__input {
	accent-color: rgb(122, 91, 247);
}
.filter__footer {
}
.filter__button {

}
