/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}


ul,
ol,
li {
	lists-sidebar-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	height: 100%;
	line-height: 1;
	background-color: #16141c;
	font-size: 14px;
	color: #fff;
	font-family: 'Comfortaa', sans-serif;
	letter-spacing: 0.3px;
}


.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
._container {
	padding: 0 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
.search {
	background-color: rgb(91 87 107 / 20%); 
	display: flex;
	width: 100%;
	border-radius: 12px;
	justify-content: center;
	align-items: center;
}
.mini-title {
	color: #a7a4b5;
	font-size: 14px;
	padding: 8px 0px;
}
.mini-span {
	color: #a7a4b5;
	font-size: 14px;
}
.switch {
	display: flex;
}
.switch__label {
	display: block;
	align-items: center;
	text-align: center;
	padding: 12px;
	width: 100%;
	border-radius: 12px;
}
.switch__input {
	display: none;
}
.switch__input:checked  + .switch__label {
	background: rgb(122, 91, 247);
}
.item {
	background-color: rgb(91 87 107 / 20%); 
	border-radius: 10px;
	margin: 0 0 15px;
}
.btn {
	display: block;
	padding: 12px;
	align-items: center;
	text-align: center;
	background-color: rgb(91 87 107 / 20%);
	transition: background-color 0.2s ease;
	border-radius: 10px;
}
.btn:active {
	background-color: rgb(122, 91, 247);
}
.range {
	display: flex;
	flex-direction: column;
	padding: 12px 17px;
}
.footer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.btn-show {
	width: 230px;
	margin: 15px;
	background-color: rgb(122, 91, 247);
	border-radius: 18px;
}

/*-------------------------sidebar-----------------------------*/

.sidebar {
	display: none;
}
.open {
	z-index: 10;
	position: absolute;
	display: block;
	width: 100%;
	height: 100vh;
	background-color: #16141c;
}
.sidebar__container {
}
.sidebar__search {
	margin: 15px 0px;
}
.sidebar__switches {
	margin: 0px 0px 15px 0px;
}
.sidebar__lists {
}
.lists-sidebar {
}
.lists-sidebar__body {
}
.lists-sidebar__title {
}
.lists-sidebar__item {
	display: flex;
	flex-direction: column;
	padding: 15px;
}
.lists-sidebar__item:last-child {
	margin-bottom: 0px;
}
.lists-sidebar__label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.lists-sidebar__label:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.lists-sidebar__span {
	padding: 9px;
}
.lists-sidebar__input {
	display: none;
}
.lists-sidebar__img {
	display: none;
	width: 34px;
	height: 34px;
}
.lists-sidebar__input:checked + .lists-sidebar__img {
	display: block;
}
.sidebar__footer {
	position: sticky;
	left: 0;
	bottom: 0;
	z-index: 10;
	width: 100%;
	background-color: #16141c29;
	backdrop-filter: blur(10px);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.sidebar__footer {
	background-color: rgba(43, 42, 48, 0);
	-webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
	}
}
.sidebar__button {
}

/*-----------------------------header---------------------------------*/

.header {
}
.header__container {
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 10px;
}
.header__logo {
	font-family: Signika Negative;
	min-width: 130px;
	margin: 10px 0px;
	font-size: 30px;
	font-weight: 700;
	color: rgb(122, 91, 247);
}
.header__search {
	margin: 0px 0px 10px;
}
@media (min-width: 502px) {
	.header__container {
		flex-direction: row;
		justify-content: space-between;
	}
	.header__search {
		max-width: 370px;
		margin: 0px 0px 0px 30px;
	}

}
.focused {
	background-color: rgb(122, 91, 247);
}
.search__icon {
	padding: 8px;
}
.search__input {
	width: 100%;
	padding: 8px;
	background: transparent;
	font-weight: 300;
	font-family: 'Comfortaa', sans-serif;
	color: #d9d5e4;
	border: none;
	outline: none;
	font-size: 16px;
}
.search__input::placeholder {
	color: #a7a4b5;
}
.search__filter {
	padding: 8px;
}
.search__filter:active {
	background-color: rgb(122, 91, 247);
	border-radius: 12px;
}
.filter-search {
}
.filter-search__button {
}


/*-------------------------filter-----------------------------*/
.filter {
	display: none;
}
.active {
	display: block;
}
.filter__container {
}
.filter__show {
}
.show__title {
}
.show__items {
}
.show__item {
}
.item-show {
}
.item-show__switches {
}
.show__main {
}
.main-show {
}
.main-show__button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	padding: 12px 15px;
}
.ranges-show {
}
.ranges-show__range {
}
.ranges-show__range:first-child {
	z-index: 1;
}
.range__input {
	accent-color: rgb(122, 91, 247);
}
.range__top {
	display: flex;
	justify-content: space-between;
	margin: 0 0 10px 0;
}
.range__slider {
  height: 7px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 30px;
}
.range__selected {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 30px;
  background-color: rgb(122, 91, 247);
}

.range__input {
  position: relative;
}
.range__input input {
  position: absolute;
  width: 101%;
  height: 4px;
	left: -1px;
  top: -6px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range__input input::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid rgb(122, 91, 247);
  background-color: rgb(122, 91, 247);
  pointer-events: auto;
  -webkit-appearance: none;
}
.range__input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid rgb(122, 91, 247);
  background-color: rgb(122, 91, 247);
  pointer-events: auto;
  -moz-appearance: none;
}

.range__number {
	display: none;
	/* display: flex; */
	margin-top: 20px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.range__number label {
	margin-right: 5px;
}
.range__number input {
	text-align: center;
	width: 40px;
	padding: 3px;
	border-radius: 5px;
}
.range__number input:first-of-type {
	margin-right: 30px;
}


.filter__footer {
}
.filter__button {
}



/*-------------------------movies-----------------------------*/

.movies {
	display: none;
}
.active {
	display: block;
}
.movies__container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.movie {
	position: relative;
	flex-direction: column;
	margin: 0px 10px 10px 0px;
	max-width: 160px;
}
.movie__poster {
	width: 158px;
	height: 237px;
	border-radius: 10px;
}
.movie__info {
	padding: 10px 0px;
}
.movie__rating {
	position: absolute;
	display: flex;
	top: 7px;
	left: 7px;
	width: 40px;
	height: 20px;
	padding-top: 2px;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: rgb(122, 91, 247);
	border-radius: 10px;
}
.movie__name {
}
.movie__genre {
	padding: 5px 0px;
}