/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}


ul,
ol,
li {
	lists-sidebar-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	height: 100%;
	line-height: 1;
	background-color: #16141c;
	font-size: 14px;
	color: #fff;
	font-family: 'Comfortaa', sans-serif;
	letter-spacing: 0.3px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
._container {
	padding: 0 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
.item {
	background-color: rgb(91 87 107 / 20%);
	margin: 0 0 15px;
	border-radius: 10px;
}
.search {
	background-color: rgb(91 87 107 / 20%); 
	display: flex;
	width: 100%;
	border-radius: 12px;
	justify-content: center;
	align-items: center;
}
.mini-title {
	color: #a7a4b5;
	font-size: 14px;
	padding: 8px 0px;
}
.mini-span {
	color: #a7a4b5;
	font-size: 14px;
}
.switch {
	display: flex;
}
.switch__label {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40px;
	width: 100%;
	border-radius: 10px;
}
.switch__input {
	display: none;
}
.switch__input:checked  + .switch__label {
	background: rgb(122, 91, 247);
}
.btn {
	display: flex;
	min-height: 40px;
	align-items: center;
	justify-content: center;
	background-color: rgb(91 87 107 / 20%);
	transition: background-color 0.2s ease;
}
.btn:active {
	background-color: rgb(122, 91, 247);
}
.range {
	display: flex;
	flex-direction: column;
	padding: 12px 17px;
}
.footer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.btn-show {
	min-width: 230px;
	margin: 5px 0px 15px;
	background-color: rgb(122, 91, 247);
	border-radius: 50px;
}

/*-------------------------sidebar-----------------------------*/

.sidebar {
	display: none;
}
.open {
	z-index: 10;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #16141c;
}
.sidebar__container {
}
.sidebar__search {
	margin: 15px 0px;
}
.sidebar__switches {
	margin-bottom: 15px;
}
.sidebar__lists {
	margin-bottom: 15px;
}
.sidebar__lists:last-child {
	padding-bottom: 55px;
}
.lists-sidebar {
}
.lists-sidebar__body {
}
.lists-sidebar__title {
}
.lists-sidebar__item {
}
.lists-sidebar__label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 8px 0px 14px;
	height: 45px;
}
.lists-sidebar__label:not(:last-child) {
	border-bottom: 1px solid rgba(91, 87, 107, 0.447);
}
.lists-sidebar__span {
}
.lists-sidebar__input {
	display: none;
}
.lists-sidebar__img {
	display: none;
	width: 34px;
	height: 34px;
}
.lists-sidebar__input:checked + .lists-sidebar__img {
	display: block;
}
.sidebar__footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #16141c;
}
.sidebar__button {
}

/*-----------------------------header---------------------------------*/

.header {
}
.header__container {
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 10px 0px;
}
.header__logo {
	font-family: Signika Negative;
	min-width: 130px;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 700;
	color: rgb(122, 91, 247);
}
.header__search {
}
@media (min-width: 502px) {
	.header__container {
		flex-direction: row;
		justify-content: space-between;
	}
	.header__search {
		max-width: 370px;
		margin: 0px 0px 0px 50px;
	}
	.header__logo {
		margin-bottom: 0px;
	}
}
.focused {
	background-color: rgb(122, 91, 247);
}
.search__icon {
	padding: 8px;
}
.search__input {
	width: 100%;
	padding: 8px;
	background: transparent;
	font-weight: 300;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
	border: none;
	outline: none;
	font-size: 16px;
}
.search__input::placeholder {
	color: rgba(200, 196, 213, 0.822);
}
.search__filter {
	padding: 8px;
}
.search__filter:active {
	background-color: rgb(122, 91, 247);
	border-radius: 12px;
}
.filter-search {
}
.filter-search__button {
}


/*-------------------------filter-----------------------------*/
.filter {
	display: none;
}
.active {
	display: block;
}
.filter__container {
}
.filter__show {
}
.show__title {
}
.show__items {
}
.show__switches {
}
.show__main {
}
.main-show {
}
.main-show__button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	padding: 0px 14px;
	min-height: 45px;
}
.main-show__button:not(:last-child) {
	border-bottom: 1px solid rgb(91 87 107 / 50%);
}
.main-show__button:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.main-show__button:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.show__ranges {
}
.ranges-show {
}
.ranges-show__years {
}
.ranges-show__rating {
}
.range__top {
	display: flex;
	justify-content: space-between;
	margin: 0 0 10px 0;
}
.range__slider {
  height: 7px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 30px;
}
.range__selected {
	height: 100%;
	position: absolute;
  border-radius: 30px;
  background-color: rgb(122, 91, 247);
}
.range__selected_rating {
  left: 0%;
  right: 0%;
}
.range__selected_years {
	left: 0%;
  right: 0%;
}
.range__input {
  position: relative;
}
.range__input input {
  position: absolute;
  width: 100.5%;
  height: 4px;
	left: -1px;
  top: -6px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range__input input::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: rgb(122, 91, 247);
  pointer-events: auto;
  -webkit-appearance: none;
}
.range__input input::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 3px solid rgb(122, 91, 247);
  background-color: rgb(122, 91, 247);
  pointer-events: auto;
  -moz-appearance: none;
}

.range__number {
	display: none;
	/* display: flex; */
	margin-top: 20px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.range__number label {
	margin-right: 5px;
}
.range__number input {
	text-align: center;
	width: 40px;
	padding: 3px;
	border-radius: 5px;
}
.range__number input:first-of-type {
	margin-right: 30px;
}


.filter__footer {
}
.filter__button {
}



/*-------------------------movies-----------------------------*/

.movies {
	display: none;
}
.active {
	display: block;
}
.movies__container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.movie {
	position: relative;
	flex-direction: column;
	margin: 0px 10px 10px 0px;
	max-width: 160px;
}
.movie__poster {
	width: 158px;
	height: 237px;
	border-radius: 10px;
}
.movie__info {
	padding: 10px 0px;
}
.movie__rating {
	position: absolute;
	display: flex;
	top: 7px;
	left: 7px;
	width: 40px;
	height: 20px;
	padding-top: 2px;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: rgb(122, 91, 247);
	border-radius: 10px;
}
.movie__name {
}
.movie__genre {
	padding: 5px 0px;
}
.movies__button {
}
.hidden {
	display: none;
}